@import "colors";

.experience-item .company {
  color: #72d1bc;
  margin: 0;
}

.experience-item .role {
  margin: 0;
  padding: 5px 0px 0px 0px;
  font-size: 1em;
}

.experience-item .description {
  margin: 0;
  padding: 10px 0px;
}
