@import "colors";
@import "fonts";

.splash {
  margin-top: 15vh;
}

h1 {
  color: $text-blue-color;
  font-family: $serif-font;
  padding-top: 10vh;
}

.arrow-wrapper {
  position: fixed;
  bottom: 40px;
  transform: translate(-50%, 0);
}
